Meeting_Ai.json
{
  "name": "Meeting Ai",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "cd611d70-3821-4e58-acd5-b5864a757c5e",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        20,
        0
      ],
      "webhookId": "d1df49ea-93d0-4782-be06-fdc579dae62a"
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {}
      },
      "id": "7460e6ed-230b-49cf-a516-0cd2c00e8dc8",
      "name": "Ollama Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        500,
        220
      ],
      "credentials": {
        "ollamaApi": {
          "id": "JwP2fLcHmKNS5jYu",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "75ebfdef-c8e2-4c3e-b716-1479d0cc2a73",
              "name": "chatInput",
              "value": "={{ $json?.chatInput || $json.body.chatInput }}",
              "type": "string"
            },
            {
              "id": "59b7a20f-0626-4861-93e2-015d430c266e",
              "name": "sessionId",
              "value": "={{ $json?.sessionId || $json.body.sessionId}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "04170e80-c3b4-472c-afc2-3b2dcc7e12a3",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        200
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "3a982def-baba-4eed-8fe8-965f5f61e690",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        900,
        0
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "frontend2backend",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b3d3f8b8-8d3d-4111-91f0-d9798c22febc",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        20,
        200
      ],
      "webhookId": "3e19a300-900d-458d-ab9b-71f06269120f"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "your name Is Amy, you are a ai meeting assistant, you will not reply to chat input , just listen to query and record the incoming query and provide summary after collecting 5 minutes of conversation. if you hear from the conversation context contain in the user query that the meeting have started, send a trigger to the tool named startMeeting to kick off the meeting recording function. if you hear from the conversation context contain in the user query that the meeting have end, send a trigger to the tool named endMeeting to end the meeting recording function. "
        }
      },
      "id": "2cc35c14-d181-4d2d-a312-ca3e3cdaa364",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        540,
        0
      ]
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        640,
        220
      ],
      "id": "a0137c04-90b5-4a55-8515-3426c92680d8",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "name": "endMeeting",
        "description": "call this tool to end the meeting",
        "language": "python",
        "pythonCode": "import os\nos.system(\".\\stop_wave2opus_v2.bat\")\nreturn query"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [
        960,
        220
      ],
      "id": "d13ce4dd-f958-424e-b239-ee0932c3cc80",
      "name": "endMeeting"
    },
    {
      "parameters": {
        "name": "startMeeting",
        "description": "call this tool to start meeting",
        "language": "python",
        "pythonCode": "import os\nos.system(\".\\execWave2opus.bat\")\nreturn query"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [
        800,
        220
      ],
      "id": "3085ea13-8e41-466e-9d2a-16c6c10bd694",
      "name": "startMeeting"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "endMeeting": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "startMeeting": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e4e23aa0-7fc7-41e5-bb92-ac1343956936",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "26cedcb2895c973fec2aead4f5f341feeff0be80dbe53ed44ed7389e6bdeef3c"
  },
  "id": "ZzkLFCGKNgyOpwO7",
  "tags": []
}