Post_Meeting_Agent.json
{
  "name": "Post Meeting Agent",
  "nodes": [
    {
      "parameters": {
        "model": "mistral:latest",
        "options": {}
      },
      "id": "7a6eb364-7c6c-44ec-821d-c8a4d968878a",
      "name": "Ollama Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        680,
        120
      ],
      "credentials": {
        "ollamaApi": {
          "id": "JwP2fLcHmKNS5jYu",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {}
      },
      "id": "d902ca14-649a-4cad-a723-34ecc3ff6109",
      "name": "Ollama Model",
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [
        1700,
        80
      ],
      "credentials": {
        "ollamaApi": {
          "id": "JwP2fLcHmKNS5jYu",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "name": "meeting_recording",
        "description": "User meeting conversations are stored here, when ever the user wanted to recall or get a summary of the meeting, they should access the data here through this tool.",
        "topK": 300
      },
      "id": "52447805-8d47-4908-a58d-5a1f75bda6c3",
      "name": "Vector Store Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        1500,
        -100
      ]
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "id": "580491d9-6b97-484c-9a6b-0d552572e6b0",
      "name": "Embeddings Ollama",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        1460,
        180
      ],
      "credentials": {
        "ollamaApi": {
          "id": "JwP2fLcHmKNS5jYu",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Local RAG AI Agent with Chat Interface",
        "height": 527.3027193303974,
        "width": 969.0343804425795
      },
      "id": "4a5e7149-689b-4ff0-8d70-30172313a5ca",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        320,
        -220
      ]
    },
    {
      "parameters": {
        "content": "## Agent Tools for Local RAG",
        "height": 528.85546469693,
        "width": 583.4552380860637,
        "color": 4
      },
      "id": "656abb48-5685-49d3-ad02-5654c95300a5",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1300,
        -220
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "4b2acde6-d737-42db-a7e2-6f74abd9eab1",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        380,
        -100
      ],
      "webhookId": "8f41d4d7-bcaa-4ea5-9aad-06c79403aa9a"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a rag ai agent for meeting"
        }
      },
      "id": "4125debe-3394-440f-b2fe-2041c058d3b2",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        760,
        -100
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "75ebfdef-c8e2-4c3e-b716-1479d0cc2a73",
              "name": "chatInput",
              "value": "={{ $json?.chatInput || $json.body.chatInput }}",
              "type": "string"
            },
            {
              "id": "59b7a20f-0626-4861-93e2-015d430c266e",
              "name": "sessionId",
              "value": "={{ $json?.sessionId || $json.body.sessionId}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f3a4b122-0f54-4510-a344-505aca6cefd1",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        580,
        -100
      ]
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "meeting_recording",
          "mode": "id"
        },
        "options": {}
      },
      "id": "beeb5ab8-0604-4210-93e5-d5292e9986ed",
      "name": "Qdrant Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        1320,
        40
      ],
      "credentials": {
        "qdrantApi": {
          "id": "qfnL6LYuLfBBE9Wp",
          "name": "QdrantApi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Model": {
      "ai_languageModel": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "66f934e8-1585-4678-83ba-33da290de0ee",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "26cedcb2895c973fec2aead4f5f341feeff0be80dbe53ed44ed7389e6bdeef3c"
  },
  "id": "lNPDG6UM24cMO7mP",
  "tags": []
}