SK_Meeting_RAG_ingestion_agent.json
{
  "name": "SK Meeting RAG ingestion agent",
  "nodes": [
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        480,
        360
      ],
      "id": "8ff5bfbe-a8a2-437f-bb0f-14263c2e408e",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "JwP2fLcHmKNS5jYu",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "meeting_recording",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        700,
        40
      ],
      "id": "f8113ee0-093e-45d2-a8b0-29e59c4ee727",
      "name": "Qdrant Vector Store",
      "alwaysOutputData": false,
      "executeOnce": false,
      "credentials": {
        "qdrantApi": {
          "id": "qfnL6LYuLfBBE9Wp",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        740,
        300
      ],
      "id": "a2718618-f084-4d31-81f8-1be524861084",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        760,
        520
      ],
      "id": "4d8eb2e6-699e-4d5e-a44d-d64f233c3fb0",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "triggerOn": "folder",
        "path": "C:\\Users\\cklam\\wave1.0\\soundskrit\\diarized_files",
        "events": [
          "add"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.localFileTrigger",
      "typeVersion": 1,
      "position": [
        -140,
        40
      ],
      "id": "4e578252-326f-46c4-8ce7-a4cee6e02a28",
      "name": "Local File Trigger"
    },
    {
      "parameters": {
        "fileSelector": "=./diarized_files/{{ $json.stdout }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        240,
        40
      ],
      "id": "957a7a49-b755-46e2-9d63-9d6ee280ccb5",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=txt2txt.bat  {{ $json.path }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        40,
        40
      ],
      "id": "58162a6b-e7b9-48b0-92af-64d67de3c2cf",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        460,
        40
      ],
      "id": "6e1c8135-7e0b-4e12-bf07-136186c35b35",
      "name": "Extract from File"
    }
  ],
  "pinData": {},
  "connections": {
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "main": [
        []
      ]
    },
    "Local File Trigger": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0460301d-bb2e-4445-838f-a8953efaa016",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "26cedcb2895c973fec2aead4f5f341feeff0be80dbe53ed44ed7389e6bdeef3c"
  },
  "id": "JBFwsARVCASyMyhH",
  "tags": []
}